body{
    background-color: lightgray;
}

p{
    color: green;
}

.text{
    color: purple;
    
}

.box{
    border: 5px solid red;
    /*Estableciendo padding*/
    padding: 5px;
    background-color: lightgreen;

    
}